.comments {
  display: flex;
  flex-direction: column;
  padding: 1vh 5vw;
  list-style-type: none;
  background-color: $color-black;

  &__item {
    width: 100%;
    margin: 1vh 0;
    display: flex;
    flex-direction: row;

    &--none {
      text-align: center;
      color: $color-ice;
      font-size: 2rem;
      padding: 30px;
    }
  }

  &__body {
    width: 70vh;
    background-color: $color-ice;
    margin: inherit;
    padding: 14px;
    border-left-color: rgb(120, 255, 0);
    border-left-style: solid;
    border-left-width: 6px;

    h1 {
      display: block;
      margin-top: 0
    }
  }

  &__profile {
    width: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-ice;
  }

  &__photo {
    height: 18vh;
    width: 18vh;
    padding: 1vh;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  &__new {
    width: 70vh;
    display: flex;
    flex-direction: column;
  }

  &__text-area {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: $color-black;
    background-color: $color-ice;
  }

  &__button {
    margin: 10px 0;
    border: none;
    background-color: $color-really-black;
    color: $color-ice;
    font-family: $font-family;
    border-radius: 10px;
    padding: 15px;
  }
}
