@mixin shadow($type) {
  @if $type == 'light' {
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
  }
  @else if $type == 'medium' {
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  }
  @else if $type == 'dark' {
    box-shadow: 1px 1px 10px rgba(0,0,0,.6);
  }
}
