$breakpoint-extra-small: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 960px;
$breakpoint-large: 1120px;

$font-size: 16px;
$font-family: 'Montserrat', 'Helvetica', 'sans-serif';

$color-black: #333;
$color-ice: #fafafa;
$color-white: #fff;

$codeblock-background: #282a36;
$highlight-color: #f73d9d;
