$breakpoint-extra-small: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 960px;
$breakpoint-large: 1120px;

$default-font-size: 16px;

$title-font: 'Montserrat', 'Helvetica', 'sans-serif';
$default-font: 'Roboto', 'Open Sans', 'sans-serif';
