<footer class="footer">
  <div class="svg">
    <a href="/"><img class="footer__logo" alt="Entrylvl logo" src="/assets/entrylvl-white.svg" /></a>
    <a href="https://github.com/entrylvl"><img class="footer__github" alt="Github logo" src="/assets/github-logo.svg" /></a>
  </div>
</footer>
