<footer class="footer">
  <div class="svg">
    <img class="footer__logo" alt="Entrylvl logo" src="/assets/entrylvl-white.svg" />
    <img class="footer__github" alt="Github logo" src="/assets/github-logo.svg"  />
  </div>
</footer>
