<nav class="nav">
  <a href="/"><img class="nav__logo" alt="Entrylvl logo" src="/assets/entrylvl.svg"></a>
  <ul class="nav__links">
    <li><a class="nav__link nav__link--active" href="/">artigos</a></li>
    <li><a class="nav__link" href="/jobs">vagas</a></li>
    <li><a class="nav__link" href="/about">sobre</a></li>
  </ul>
</nav>
