<nav class="shared-nav">
  <a href="/"><img class="shared-nav__logo" alt="Entrylvl logo" src="/assets/entrylvl.svg" /></a>
  <ul class="shared-nav__links">
    <li><a class="shared-nav__link nav__link--active" href="/">artigos</a></li>
    <li><a class="shared-nav__link" href="/jobs">vagas</a></li>
    <li><a class="shared-nav__link" href="/about">sobre</a></li>
  </ul>
</nav>
