<article class="card">
  <a class="card__link" href="<%= post_path(post) %>">
    <div class="card__header">
      <h2 class="card__title"><%= post.title %></h2>
      <ul class="card__tags">
        <li class="card__tag">tag a</li>
        <li class="card__tag">tag b</li>
      </ul>
    </div>
    <div class="card__footer">
      <div class="card__footer__text">
        <h3 class="card__footer__author">Caique Mitsuoka</h3>
        <h4 class="card__footer__date">12 de outubro de 2017</h4>
      </div>
      <img class="card__footer__picture" src="https://www.udemy.com/staticx/udemy/images/teaching/tools-assortment.png" alt="Author picture">
    </div>
  </a>
</article>
