<article class="card">
  <a class="card__link" href="<%= post_path(post) %>">
    <div class="card__header">
      <h2 class="card__title"><%= post.title %></h2>
      <ul class="card__tags">
        <li class="card__tag">tag a</li>
        <li class="card__tag">tag b</li>
      </ul>
    </div>
    <p class="card__text"><%= post.lead %></p>
  </a>
</article>
