<div class="about">
  <header class="about__header">
    <h1 class="about__header__title"><em>wtf</em> is entry lvl?</h1>
  </header>
  <section class="about__tile">
    <p class="about__tile__text">a gente sabe bem das dificuldades de se ingressar na área de desenvolvimento de software. o entry lvl existe pra mostrar o caminho das pedras pra quem quer iniciar ou está iniciando sua carreira. esperamos te ajudar a conseguir seu primeiro emprego na área, aprender a desenvolver software e também a desenvolver-se como profissional.</p>
  </section>
  <section class="about__authors">
    <h2 class="about__authors__title">Autores</h2>
    <ul class="about__authors__list">
      <li class="about__authors__author">
        <div class="about__authors__author__header">
          <div class="about__authors__author__avatar" style="background-image: url('/assets/caique.jpg')"></div>
          <h3 class="about__authors__author__name">Caique Mitsuoka</h3>
        </div>
        <div class="about__authors__author__body">
          <p class="about__authors__author__work">desenvolvedor na <a>codeminer42</a></p>
          <p class="about__authors__author__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="about__authors__author__links">
            <li><a class="about__author__link" href="#">link a</a></li>
            <li><a class="about__author__link" href="#">link a</a></li>
            <li><a class="about__author__link" href="#">link a</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
</div>
