
<div class="home">
  <%= render "shared/nav" %>

  <header class="home__header">
    <h1 class="home__title">Uma escada para o futuro</h1>
  </header>
  <main class="home__main">
    <% @posts.each do |post| %>
      <%= render "card", post: post %>
    <% end %>
  </main>
</div>
<footer class="footer">
  <p>&copy; entry lvl</p>
</footer>
