
<div class="home">
  <%= render "shared/nav" %>

  <header class="home__header">
    <h1 class="home__title">Uma escada para o futuro</h1>
  </header>
  <main>
    <article>
      <h2>title</h2>
      <ul>
        <li>tag a</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </article>
  </main>
  <footer>
    <p>&copy; entry lvl 2017</p>
  </footer>
</div>
