
<div class="home">
  <nav class="home__nav">
    <a href="/home"><%=image_tag("logo.png", alt: "entry lvl", class: "home__logo")%></a>
    <ul class="home__links">
      <li><a href="/tags">tags</a></li>
      <li><a href="/about">sobre</a></li>
      <li><a href="/jobs">jobs</a></li>
    </ul>
  </nav>
  <header class="home__header">
    <h1 class="home__title">uma frase aqui</h1>
  </header>
  <main class="home__main">
    <article class="home__article">
      <a class="home__article__link" href="#">
        <div class="home__article__header">
          <h2 class="home__article__title">title de duas linhas</h2>
          <ul class="home__article__tags">
            <li class="home__article__tag">tag a</li>
            <li class="home__article__tag">tag b</li>
          </ul>
        </div>
        <p class="home__article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </a>
    </article>
  </main>
</div>
<footer class="footer">
  <p>&copy; entry lvl</p>
</footer>
