
<div class="home">
  <%= render "shared/nav" %>

  <header class="home__header">
    <h1 class="home__title">Uma escada para o futuro</h1>
  </header>
  <main class="home__main">
    <article class="card">
      <a class="card__link" href="#">
        <div class="card__header">
          <h2 class="card__title">title de duas linhas</h2>
          <ul class="card__tags">
            <li class="card__tag">tag a</li>
            <li class="card__tag">tag b</li>
          </ul>
        </div>
        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </a>
    </article>
  </main>
</div>
<footer class="footer">
  <p>&copy; entry lvl</p>
</footer>
