<%= render "shared/sharednav" %>
<header class="jobs__header">
  <h1 class="jobs__header__title">Mural de Vagas</h1>
  <nav class="jobs__header__actions">
    <a class="jobs__header__action" href="https://goo.gl/forms/TnZtEfl8vZGVrggS2" target="_blank">
      <p class="jobs__header__action__call">Anuncie uma Vaga</p>
      <p class="jobs__header__action__detail">encontre talentos promissores! 👷🏻‍♀‍</p>
    </a>
    <a class="jobs__header__action" href="#list">
      <p class="jobs__header__action__call">Consiga um Emprego</p>
      <p class="jobs__header__action__detail">olhe abaixo! 💰</p>
    </a>
  </nav>
</header>
<main class="jobs__body">
  <ul class="jobs__body__job-list" id="list">
    <li class="jobs__body__job">
      <a class="jobs__body__job__link" href="#">
        <div>
          <p class="jobs__body__job__company">Translucent Computing</p>
          <p class="jobs__body__job__position">Desenvolvedor(a) Frontend Jr.</p>
        </div>
        <div class="jobs__body__job__details">
          <p class="jobs__body__job__kind">CLT</p>
          <p class="jobs__body__job__location">Remoto</p>
        </div>
      </a>
    </li>
    <li class="jobs__body__job">
      <a class="jobs__body__job__link" href="#">
        <div>
          <p class="jobs__body__job__company">Codeminer42</p>
          <p class="jobs__body__job__position">Estagiário(a) Frontend</p>
        </div>
        <div class="jobs__body__job__details">
          <p class="jobs__body__job__kind">Estágio</p>
          <p class="jobs__body__job__location">Sorocaba - SP</p>
        </div>
      </a>
    </li>
    <li class="jobs__body__job">
      <a class="jobs__body__job__link" href="#">
        <div>
          <p class="jobs__body__job__company">Toptal</p>
          <p class="jobs__body__job__position">Desenvolvedor(a) Backend Jr.</p>
        </div>
        <div class="jobs__body__job__details">
          <p class="jobs__body__job__kind">Freelance</p>
          <p class="jobs__body__job__location">Remoto</p>
        </div>
      </a>
    </li>
    <li class="jobs__body__job">
      <a class="jobs__body__job__link" href="#">
        <div>
          <p class="jobs__body__job__company">Translucent Computing</p>
          <p class="jobs__body__job__position">Desenvolvedor(a) Frontend Jr.</p>
        </div>
        <div class="jobs__body__job__details">
          <p class="jobs__body__job__kind">CLT</p>
          <p class="jobs__body__job__location">Remoto</p>
        </div>
      </a>
    </li>
    <li class="jobs__body__job">
      <a class="jobs__body__job__link" href="#">
        <div>
          <p class="jobs__body__job__company">Codeminer42</p>
          <p class="jobs__body__job__position">Estagiário(a) Frontend</p>
        </div>
        <div class="jobs__body__job__details">
          <p class="jobs__body__job__kind">Estágio</p>
          <p class="jobs__body__job__location">Sorocaba - SP</p>
        </div>
      </a>
    </li>
    <li class="jobs__body__job">
      <a class="jobs__body__job__link" href="#">
        <div>
          <p class="jobs__body__job__company">Toptal</p>
          <p class="jobs__body__job__position">Desenvolvedor(a) Backend Jr.</p>
        </div>
        <div class="jobs__body__job__details">
          <p class="jobs__body__job__kind">Freelance</p>
          <p class="jobs__body__job__location">Remoto</p>
        </div>
      </a>
    </li>
  </ul>
</main>
