<%= render "shared/nav" %>

<article class="post">
  <header class="post__header">
    <h1 class="post__title">
      Ets trouxeram abacaxis para a Europa
    </h1>
    <p class="post__subtitle">
      Descubra o desfecho dessa história
    </p>
    <ul class="card__tags">
      <li class="card__tag">tag a</li>
      <li class="card__tag">tag b</li>
    </ul>
  </header>
  <section class="post__body">
    <h2 class="post__body__subtitle">
      Abacaxis são top?
    </h2>
    <p class="post__body__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
    <h2 class="post__body__subtitle">
      Ets sobrevoam a terra
    </h2>
    <p class="post__body__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
  </section>

  <section class="post__footer">
      <div class="post__author__avatar"></div>
      <div class="post__author_info">
        <h3 class="post__author__name">Caique Mitsuoka</h3>
        <p class="post__author__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
  </section>
</article>

<%= render "shared/footer" %>
