<%= render "dashboard/shared/nav" %>

<div class="panel">
  <h1 style="text-align: center; margin: 10px;">[DRAFT]</h1>
  <article class="post">
    <%= render "posts/header", post: @post %>

    <%= render "posts/body", post: @post %>
  </article>
</div>
