<div class="panel">
  <div class="panel-heading">
    Novo Perfil
  </div>

  <%= render 'form', user: @user,
                     submit_url: dashboard_users_path,
                     method: :post %>
</div>
