<article class="post">
  <header class="post__header">
    <h1 class="post__header__title">
      <%= @post.title %>
    </h1>
    <ul class="post__header__taglist">
      <li class="post__header__tag">tag a</li>
      <li class="post__header__tag">tag b</li>
    </ul>
    <div class="post__header__info">
      <div class="post__header__info__text">
        <h2 class="post__header__info__author">Caique Mitsuoka</h3>
        <h3 class="post__header__info__date">12 de outubro de 2017</h4>
      </div>
      <img class="post__header__info__author-picture" src="https://scontent.fsod2-1.fna.fbcdn.net/v/t1.0-9/16143166_1383044865091863_7983798229624937096_n.jpg?oh=ad55eb81981be23db69d6113e56e405e&oe=5ADD616B" alt="Author picture">
    </div>
  </header>
  <main class="post__body">
    <%= @post.body %>
  </main>
  <section class="post__footer">
    <div class="post__footer__wrapper">
      <img src="https://scontent.fsod2-1.fna.fbcdn.net/v/t1.0-9/16143166_1383044865091863_7983798229624937096_n.jpg?oh=ad55eb81981be23db69d6113e56e405e&oe=5ADD616B" class="post__author__avatar" alt="Author picture">
      <div class="post__author__info">
        <h3 class="post__author__name">Caique Mitsuoka</h3>
        <p class="post__author__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </section>
</article>
