.footer {
  font-size: 1rem;
  background-color: #111;
  color: #fafafa;
  padding: 0.5rem 0rem;

  .svg {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footer__logo, .footer__github {
      height: 20px;
    }

    @include media('medium') {
      justify-content: space-between;
      .footer__logo, .footer__github {
        height: 20px;
      }

      .footer__logo {
        margin-left: 30px;
      }

      .footer__github {
        margin-right: 30px;
      }
    }
  }
}
