footer {
  display: flex;
  font-size: 1rem;
  text-align: center;
  justify-content: space-around;
  background-color: #111;
  color: #fafafa;
  padding: 1rem 0rem;

  svg {
    height: 20px;
  }

  @include media('medium') {
    justify-content: space-between;
    svg {
      height: 30px;
      position: relative;
    }

    .footer__logo {
      left: 50px;
    }

    .github__logo {
      right: 50px;
    }
  }
}
