.home {
  &__header {
    position: relative;
    min-height: 50vh;
    display: flex;
    color: $color-white;
    background-image: image_url("header-bg.jpg");
    background-position: center;
    background-size: cover;
    z-index: -2;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      opacity: .6;
    }
  }

  &__title {
    margin: auto;
    max-width: 80%;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    font-family: $font-family;
  }
}
