.post {
  $content-max-width: 900px;
  font-family: $font-family;
  background-color: $color-ice;

  &__header {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    min-height: 40vh;
    color: $color-white;
    background-image: image_url("header-bg.jpg");
    background-position: center;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      opacity: .6;
    }

    &__title {
      font-size: 2rem;
      margin: auto auto 0 auto;
      width: 100%;
      max-width: $content-max-width;
    }

    &__taglist {
      list-style-type: none;
      display: flex;
      width: 100%;
      flex-flow: row-reverse;
      margin: 1rem auto;

      @include media("small") {
        width: 50%;
        max-width: 450px;
        flex-flow: row;
        height: 60px;
        margin: auto 0 2rem auto;
      }
    }

    &__tag {
      margin: auto .5rem;
      font-size: .8rem;
      padding: .3rem .8rem;
      background: $color-black;
      color: $color-white;
      border-radius: 1.2rem;
      height: 1.6rem;

      &:first-of-type {
        margin-left: 0;
      }
    }

    &__info {
      margin: 0 auto auto auto;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      height: 60px;

      @include media("small") {
        width: 50%;
        max-width: 450px;
        margin: auto auto 2rem 0;
      }

      &__text {
        width: calc(100% - 80px);
        text-align: right;
        margin: auto;
      }

      &__author {
        font-size: 1rem;
        font-weight: 300;
      }

      &__author-picture {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-left: 20px;
        border-radius: 50%;
      }

      &__date {
        font-size: .7rem;
        font-weight: 300;
      }
    }

  }

  &__body {
    margin: auto;
    width: 90%;
    max-width: $content-max-width;

    img {
      max-width: 100%;
    }

    h1 {
      display: none;
    }

    ul,
    ol {
      list-style-position: inside;
    }

    li {
      font-weight: 300;
      color: $color-black;
      font-size: 1.15rem;

      &:not(:last-of-type) {
        margin-bottom: .8rem;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      font-weight: bold;
      color: $color-black;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3,
    h4 {
      font-size: 1.1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.7rem;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      color: $color-black;
      font-weight: 300;
    }

    a {
      color: $codeblock-border;
      transition: color .2s linear;

      &:visited,
      &:focus {
        color: $codeblock-border;
      }

      &:hover {
        color: invert($codeblock-border);
      }
    }

    hr {
      color: transparent;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 6px;
        width: 100%;
        background: linear-gradient(to right, $color-ice, $codeblock-border);
      }
    }

    code {
      position: relative;
      color: $color-ice;
      display: block;
      background-color: $codeblock-background;
      padding: 1rem;
      border-left: 6px solid $codeblock-border;
      box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    }
  }

  &__footer {
    background: $color-white;
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
    margin-top: 2rem;
    padding: 2rem 5%;

    &__wrapper {
      max-width: $content-max-width;
      margin: auto;
      display: flex;
      position: relative;

      @include media("large") {
        &:before {
          content: 'autor(a)';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: 5rem;
          opacity: .1;
          color: $color-black;
        }
      }
    }
  }

  &__author {
    &__avatar {
      height: 60px;
      width: 60px;
      max-height: 140px;
      max-width: 140px;
      border-radius: 50%;
      object-fit: cover;
      margin: auto 1rem auto 0;

      @include media("small") {
        height: 120px;
        width: 120px;
      }
    }

    &__info {
      max-width: 420px;
    }

    &__name {
      color: $color-black;
      font-size: .9rem;
      margin-bottom: .9rem;
      font-weight: 400;

      @include media("small") {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
      }
    }

    &__intro {
      font-size: .8rem;
      font-weight: 300;

      @include media("small") {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }
  }

}
